<form>
	<fieldset>
		<!-- Form Name -->
		<legend>{{formData.formDesc}}</legend>
		<div class="form-group" ng-repeat="field in formData.fieldAry">
			<label for="{{field.name}}">{{field.label}}</label>
			<div ng-if="field.type=='radio'">
				<label class="radio-inline">
					<input type="radio" name="{{field.name}}" value="1" checked="" ng-model="formData.data[field.name]">True
				</label>
				<label class="radio-inline">
				  	<input type="radio" name="{{field.name}}" value="0" ng-model="formData.data[field.name]">False
				</label>			
			</div>
			<div ng-if="field.type=='text' || field.type=='number' || field.type=='email'">
				<input class="form-control" type="{{field.type}}" name="{{field.name}}" ng-model="formData.data[field.name]">			
			</div>
			<div ng-if="field.type=='textarea'">
				<textarea class="form-control" rows="3" name="{{field.name}}" ng-model="formData.data[field.name]"></textarea>
			</div>			
		</div>
	</fieldset>
	<button type="button" class="btn btn-success" ng-click="submitForm()">Submit</button>
</form>

