<div class="container">
	<div id="logbox">
		<form id="signUp" method="" action="">
			<h1>create an account</h1>
			<input 
				name="username"
				ng-model="basicDetail.name" 
				type="text"
				placeholder="What's your username?" 
				pattern="^[\w]{3,16}$"
				autofocus="autofocus" 
				required="required" 
				class="input pass"
				/> 
				{{basicDetail.name}}
			<input
				name="patientPassword" 
				ng-model="basicDetail.patientPassword" 
				type="password"
				placeholder="Choose a password" 
				required="required"
				class="input pass" 
				/> 
				{{basicDetail.patientPassword}}
			<input 
				name="patientPasswordConfirm"
				ng-model="basicDetail.patientPasswordConfirm" 
				type="password"
				placeholder="Confirm password" 
				required="required"
				class="input pass" 
				/> 
				{{basicDetail.patientPasswordConfirm}}
			<input 
				name="emailId"
				ng-model="basicDetail.emailId" 
				type="email"
				placeholder="Email address" 
				class="input pass" 
				/> 
				{{basicDetail.emailId}}
			<input
				type="button" 
				value="Sign me up!" 
				class="inputButton" 
				ng-click="signUp()"/>
			<div 
				class="text-center">
				already have an account? <a href="#" id="login_id">login</a>
			</div>
		</form>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="css/signInUp.css">