<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!--  -->
	<http auto-config="true">
		<intercept-url 
			pattern="/ctrl/patients/**" 
			access="hasRole('ADMIN')" />
		<form-login 
			login-processing-url="/login" 
		    login-page="/static/#/signIn" 
		    default-target-url="/static/#/home" 
			authentication-failure-url="/static/#/signIn" 		    
			username-parameter="username"
			password-parameter="password"
			/>
		<logout 
			logout-url="/logout" 
			logout-success-url="/static/#/home" />	    
		<!-- enable csrf protection -->
		<csrf 
			disabled="true"/>	
	</http>

<!-- 
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="hdk" password="hdk" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
-->
	<authentication-manager alias="authenticationManager">
	    <authentication-provider user-service-ref="basicDetailService"></authentication-provider>
	</authentication-manager>
	
	<beans:bean id="basicDetailService" class="com.draakasheeshah.business.service.impl.BasicDetailServiceImpl"></beans:bean>
</beans:beans>